.Titletop{
    background-color:  rgba(238,238,238,1);
    // backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Title{
        padding: 15px 0;
        position:sticky;
        top: 0;
        font-size: 20px;
        font-weight: bold;
    }
}